<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ຄຳຮ້ອງຂໍເປັນຕົວແທນ ສຳລັບບຸກຄົນທົ່ວໄປ ສະບັບປີ 2024</title>
    <link rel="stylesheet" href="../../style/css/custom.css">
    <link rel="stylesheet" href="../../style/css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="book">
        <div class="page">
            <!-- Header  -->
            <div class="w3-container  w3-center">
                <img src="../../style/images/National_Emblem_of_the_Lao.png"
                 alt="National Emblem of the Lao"
                 style="width: 70px; height: 70px; margin: 0 auto;">
                <p>
                    ສາທາລະນະລັດ ປະຊາທິປະໄຕ ປະຊາຊົນລາວ <br>
                    ສັນຕິພາບ ເອກະລາດ ປະຊາທິປະໄຕ ເອກະພາບ ວັດທະນະຖາວອນ
                </p>
                <p class="w3-right w3-bold">
                    ແບບຟອມ 5 <br>
                    <span style="font-size: 12px; font-weight: 300;"> ລະຫັດຜູ້ສະຫມັກ: 100001</span>
                </p>
            </div>

            <!-- Title  -->
            <div class="w3-container w3-center">
                <p class="w3-large w3-bold">
                    ໃບຄຳຮ້ອງ <br>
                    ຂໍອອກບັດເປັນຕົວແທນຂາຍປະກັນໄພ "ສຳລັບບຸກຄົນທົ່ວໄປ"
                </p>
            </div>

            <!-- Content  -->
            <div class="w3-container">
                <p class="w3-margin-top w3-margin-bottom" style="margin-left: 80px;">ຮຽນ: ທ່ານ ຫົວຫນ້າກົມຄຸ້ມຄອງວິສາຫະກິດການເງິນ ທີ່ນັບຖື.</p>

                <p class="w3-padding">
                    - ອິງຕາມ ກົດໝາຍວ່າດ້ວຍປະກັນໄພ ເລກທີ: 78/ສພຊ, ລົງວັນທີ: 29 ພະຈິກ 2019; <br>
                    - ອິງຕາມ ກົດໝາຍວ່າດ້ວຍການສົ່ງເສມການລົງທຶນ ເລກທີ: 14/ສພຊ, ລົງວັນທີ: 17 ພະຈິກ 2016; <br>
                    - ອິງຕາມ ກົດໝາຍວ່າດ້ວຍວິສາຫະກິດ ສະບັບເລກທີ: 46/ສພຊ, ລັງວັນທີ: 26 ທັນວາ 2013; <br>
                    - ອິງຕາມ ຂໍ້ຕກລົງວ່າດ້ວຍການຈັດຕັ້ງ ແລະ ການເຄື່ອນໄຫວຂອງກົມຄຸ້ມຄອງວິສາຫະກິດການເງິນ <br>
                    &nbsp; ເລກທີ: 6289/ກງ, ລົງວັນທີ: 17 ທັນວາ 2021.
                </p>
                <p class="w3-margin-top">
                   &nbsp;&nbsp;&nbsp;&nbsp; ຂ້າພະເຈົ້າຊື່ ແລະ ນາມສະກຸນ: ..................................... ອາຍຸ: ...... ອາຊີບ: .............. ສັນຊາດ: ............. <br>
                   ທີ່ຢູ່ປະຈຸບັນບ້ານ:................................. ຫນ່ວຍ:.............ຖະຫນົນ:.......................ເມືອງ:......................... <br>
                   ແຂວງ:..................................... ຖືບັດປະຈຳຕົວເລກທີ:..............................., ລົງວັນທີ: ........................... <br>
                   ວັນຫມົດອາຍຸວັນທີ: ......................... ພາດສະປອດເລກທີ(ຖ້າມີ): ........................ ລົງວັນທີ: ....................... <br>
                   ວັນຫມົດອາຍຸວັນທີ: .........................ເບີໂທລະສັບ: ................. ເບີມືຖື: ................ອີເມວ: ........................ <br>
                   ມີຈຸດປະສົງ ສະເຫນີມາຍັງທ່ານ ເພື່ອພິຈາລະນາອອກບັດເປັນຕົວແທນຂາຍປະກັນໄພໃຫ້ແກ່ບໍລິສັດ: <br>
                   ..................................................................................................................................................
                </p>
                <p class="w3-center w3-bold">
                    ປະກັນໄພທົ່ວໄປ
                    <input type="checkbox" name="general_insurance">

                    ປະກັນຊີວິດ
                    <input type="checkbox" name="life_insurance">
                </p>
                <p class="w3-margin-top w3-center">ດັ່ງນັ້ນ, ຈິ່ງສະເຫນີມາຍັງທ່ານເພື່ອພິຈາລະນາ ຕາມທາງຄວນດ້ວຍ.</p>
                <p class="w3-right" style="text-align: center;">
                    ນະຄອນຫລວງວຽງຈັນ, ວັນທີ:....../....../......., <br>
                    <span class="w3-bold">ຜູ້ສະເຫນີ.</span>
                </p>
            </div>

            <!-- Appendix Docs -->
            <div class="w3-container">
                <p class="w3-bold w3-small">ຫມາຍເຫດ: (ເອກະສານໃຫ້ຕິດຄັດ) ມີດັ່ງນີ້:</p>
                <table class="w3-small">
                    <tr>
                        <td>1. ສັນຍາການເປັນຕົວແທນຂອງບໍລິສັດປະກັນໄພ</td>
                        <td>ຈຳນວນ 1 ສະບັບ;</td>
                    </tr>
                    <tr>
                        <td>
                            2.
                            <span><input type="checkbox" name="id_card"> ສຳເນົາບັດປະຈຳຕົວ</span>
                            <span><input type="checkbox" name="house_id"> ສຳມະໂນຄົວ</span>
                            <span><input type="checkbox" name="passpord"> ພາດສະປອດ(ຖ້າມີ)</span>
                        </td>
                        <td>ຈຳນວນ 1 ສະບັບ;</td>
                    </tr>
                    <tr>
                        <td>3. ຮູບຂະໜາດ 2x2.5 (ຮູບບໍ່ເກີນ 3 ເດືອນ);</td>
                        <td>ຈຳນວນ 3 ໃບ;</td>
                    </tr>
                    <tr>
                        <td>4. ໃບຢັ້ງຢືນທີ່ຢູ່ປັດຈຸບບັນ</td>
                        <td>ຈຳນວນ 1 ສະບັບ;</td>
                    </tr>                    
                    <tr>
                        <td>5. ໃບຢັ້ງຢືນການເຝິກອົບຮົມປະກັນໄພຈາກບໍລິສັດປະກັນໄພ</td>
                        <td>ຈຳນວນ 1 ສະບັບ;</td>
                    </tr>                    
                    <tr>
                        <td>6. ຊີວະປະຫວັດຜູ້ສະເໜີ</td>
                        <td>ຈຳນວນ 1 ສະບັບ;</td>
                    </tr>                    
                    <tr>
                        <td colspan="2" class="w3-center">
                            <i class="fa fa-smile-o "></i>
                            <span class="w3-grey">ຫ້າມສົ່ງໃບຄຳຮ້ອງສະບັບກ໋ອບປີ່ ຫຼື ສະແກ່ນກາແດງຂອງກົມ ຄວກ ຢ່າງເດັດຂາດ.</span>
                        </td>
                    </tr>                  
                </table>
            </div>
        </div>
    </div>
</body>
</html>