@font-face {
    font-family: "phetsarath_ot";
    src: url(../fonts/phetsarath_ot.woff2) format('woff2'),
}
html, body, h1, h2, h3, h4, h5, h6, p, div, span, button{
    font-family: "phetsarath_ot";
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Phetsarath OT', sans-serif;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
p {
    margin: 0;
    padding: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}